.menu-ul {
    list-style-type: none;
    margin: 0;

    background-color: white;

    display: none;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;

    @media (max-width: 600px) {
        padding: 2rem;
        position: absolute;
        left: 1.5rem;
        right: 1.5rem;
        top: 6rem;

        li:not(:first-child) {
            margin-top: 1.5rem;
        }

        &.open-menu {
            display: flex;
        }
    }

    @media (min-width: 600px) {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        background-color: transparent;
    }

    a {
        text-decoration: none;
        color: var(--clr-neutral-300);

        @media (min-width: 600px) {
            color: var(--clr-neutral-100);
        }
    }

    li:last-of-type {
        background-color: var(--clr-primary-yellow-100);
        width: 9rem;
        height: 3rem;

        border-radius: 5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        a {
            text-transform: uppercase;
            color: var(--clr-neutral-700);
            font-size: 0.9rem;
            font-weight: 900;
        }

        @media (min-width: 600px) {
            background-color: var(--clr-neutral-100);
        }
    }

    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
        border: 0.7rem solid transparent;

        border-bottom-color: white;
        border-right-color: white;

        transform: translateY(-100%);
    }
}
