.text-img-merged-section {
    height: calc(160vw);
    // background-image: url(/assets/mobile/image-photography.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: center;
    text-align: center;

    h2 {
        margin: 0 1rem 2rem 1rem;
    }

    p {
        margin: 0 1rem 4rem 1rem;
    }
}
