header {
    width: 100vw;
    height: 143.467vw;
    max-height: 100vh;

    background-image: url(/assets/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    text-align: center;

    & > img {
        margin-top: 10%;
        margin-bottom: 36%;
        height: 23%;
    }

    nav {
        padding: 1.5rem 1.5rem;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        img {
            height: 60%;
        }
    }

    @media (max-width: 600px) {
        ul.open-menu {
            display: flex;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;

        @media (max-width: 600px) {
            padding: 2rem;
            position: absolute;
            left: 1.5rem;
            right: 1.5rem;
            top: 6rem;

            li:not(:first-child) {
                margin-top: 1.5rem;
            }
        }

        background-color: white;

        display: none;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: center;

        @media (min-width: 600px) {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            background-color: transparent;
        }

        a {
            text-decoration: none;
            color: var(--clr-neutral-300);

            @media (min-width: 600px) {
                color: var(--clr-neutral-100);
            }
        }

        li:last-of-type {
            background-color: var(--clr-primary-yellow-100);
            width: 9rem;
            height: 3rem;

            border-radius: 5rem;

            display: flex;
            align-items: center;
            justify-content: center;

            a {
                text-transform: uppercase;
                color: var(--clr-neutral-700);
                font-size: 0.9rem;
                font-weight: 900;
            }

            @media (min-width: 600px) {
                background-color: var(--clr-neutral-100);
            }
        }

        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            background-color: transparent;
            border: 0.7rem solid transparent;

            border-bottom-color: white;
            border-right-color: white;

            transform: translateY(-100%);
        }
    }

    h1 {
        max-width: 18rem;
        margin-top: auto;

        color: var(--clr-neutral-100);
        font-size: 2.2rem;
        font-weight: 900;

        letter-spacing: 0.2rem;
        text-transform: uppercase;

        @media (min-width: 600px) {
            max-width: 100rem;
            margin-top: 5rem;
        }

        @media (min-width: 700px) {
            font-size: 2.7rem;
        }
    }

    @media (min-width: 600px) {
        height: 55.56vw;
        background-image: url(/assets/desktop/image-header.jpg);

        & > img {
            margin-bottom: 0;
            margin-top: 8%;
            height: 18%;
        }
    }
}

@media (min-width: 600px) {
    .menu {
        display: none;
    }
}
