header {
    width: 100vw;
    height: 143.467vw;
    max-height: 100vh;

    background-image: url(../assets/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    text-align: center;

    @media (min-width: 600px) {
        height: 55.56vw;
        background-image: url(../assets/desktop/image-header.jpg);
    }

    & > img {
        margin-top: 10%;
        margin-bottom: 36%;
        height: 23%;

        @media (min-width: 600px) {
            margin-bottom: 0;
            margin-top: 8%;
            height: 18%;
        }
    }

    nav {
        padding: 1.5rem 1.5rem;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @media (min-width: 600px) {
            img {
                height: 60%;
            }
        }
    }

    h1 {
        max-width: 18rem;
        margin-top: auto;

        color: var(--clr-neutral-100);
        font-size: 2.2rem;
        font-weight: 900;

        letter-spacing: 0.2rem;
        text-transform: uppercase;

        @media (min-width: 600px) {
            max-width: 100rem;
            margin-top: 5vw;
        }

        @media (min-width: 700px) {
            font-size: 2.7rem;
        }
    }
}
